name: Staging

on:
  push:
    branches:
      - "main"
    tags-ignore:
      - "**"
    paths-ignore:
      - ".vscode/**"

permissions:
  contents: write

jobs:
  draft:
    name: Draft
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      - name: Install
        run: npm ci --ignore-scripts

      - name: draft change log
        run: |
          npx changelogen --bump --output draft.md

      - name: get-npm-version
        id: package-version
        uses: martinbeentjes/npm-get-version-action@v1.3.1

      - name: Draft
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          body_path: draft.md
          tag_name: ${{ steps.package-version.outputs.version }}