name: Staging

on:
  push:
    branches:
      - "main"

permissions:
  contents: write

jobs:
  draft:
    name: Draft
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      - name: Install
        run: npm ci --ignore-scripts

      - name: setup git
        run: |
          git config --global user.name "Ventrata Bot"
          git config --global user.email "jan.kaderabek@ventrata.com"

      - name: draft change log
        run: |
          npx changelogen --bump --release --push --github