name: Prepare release

on:
  workflow_dispatch:

jobs:
  prepare-release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "npm"

      - name: Install
        run: npm ci --ignore-scripts

      - name: setup git
        run: |
          git config --global user.name "github-bot[bot]"
          git config --global user.email "github-bot@github.com"

      - name: Release notes
        run: npx changelogen --output release-notes.md

      - name: Bump
        run: npx changelogen --bump --release --no-tag

      - name: Extract version
        id: extract_version
        uses: Saionaro/extract-package-version@v1.2.1

      - name: Print version
        run: echo ${{ steps.extract_version.outputs.version }}

      - name: Create Pull Request
        run: |
          git checkout -b release/${{ steps.extract_version.outputs.version }}
          git add package.json CHANGELOG.md release-notes.md
          git commit -m "Release v${{ steps.extract_version.outputs.version }}"
          git push --set-upstream origin release/${{ steps.extract_version.outputs.version }}
          gh pr create --title "Release v${{ steps.extract_version.outputs.version }}" --body "$(cat release-notes.md)" --base main --head release/${{ steps.extract_version.outputs.version }}
